
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
}

.card.full-height { /* Set card in grid to be full height */
  height: 100%;
}
